<div class="wrapper">
  <h1>HOME</h1>
  <div class="pages-box">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "pages-item" %>
    <% end %>
    <%= link_to 'パーツショップ', users_partsshop_index_path, class: "pages-item" %>
  </div>
</div>
